@import "tailwindcss";

@theme {
  --color-primary: #181E4B;
  --color-accent: #DF6951;
  --color-text: #212832;
  --color-border: #212832;
  --color-bg: #FFFFFF;
  --color-red: #DF6951;
  --color-gray: #181E4B;
  --color-play: #686D77;
  --color-yellow: #d98f00;
  --color-gray2: #5E6282;
  --color-gray3: #5E6282;
  --color-gray4: #14183E;
  --color-gray5: #1E1D4C;
  --color-light: #DFD7F9;
  --color-gray6-20: #DFD7F933; /* ~20% opacity */
  --color-primary-start: #FF946D;
  --color-primary-end: #FF7D68;
  --color-gray7:#84829A;
  --color-blue:#8A79DF;
  

  --font-volkhov: "Volkhov", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.volkhov {
  font-family: "Volkhov", serif;
}